<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | MercadoLibre</title>
    <link rel="stylesheet" href="/CSS/checkout.css">
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
</head>
<body>

    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
        </div>
    </nav>

    <main>
        <section class="seccion-1">
            <form action="">
                <h1>¿Dónde quieres recibirlo?</h1>
                <input type="text" placeholder="Tu dirección">
                <h1>¿Qué envío prefieres?</h1>
                <select name="tipoDeEnvio" id="">
                    <option value="Domicilio">Estandar a Domicilio</option>
                    <option value="Sucursal">Retiro en sucursal</option>
                    <option value="DomicilioDelVendedor">Retiro en domicilio del vendedor</option>
                </select>
                <select name="MetodoDePago" id="">
                    <option value="Transferencia">Transferencia Bancaria</option>
                    <option value="Efectivo">Efectivo bs/usd</option>
                    <option value="PagoMovil">Pago móvil</option>
                </select>
                <div>
                    <a href="/orden">
                        <button type="button">Continuar</button>
                    </a>
                </div>
            </form> 
        </section>
        <section class="seccion-2">
            <div class="tarjeta">
                <div class="cont-img">
                    <img width="224" height="224" src="https://http2.mlstatic.com/D_Q_NP_948546-MLV43254604405_082020-AB.webp"
                        alt="Bicicleta Fuji Rookie Rin 20 Niña Blanco Perla Infantiles ">
                </div>
                <h2>Bicicleta Fuji Rookie Rin 20 Niña Blanco Perla Infantiles</h2>
                <hr>
                <div>
                    <p>Cantidad: 1</p>
                    <p>precio: $ 270</p>
                    <p>Envio: Gratis</p>
                </div>
                <hr>
                <div>
                    <p>Total: $ 270</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>
</body>
</html>