<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola ingresa tu e-mail</title>
    <link rel="stylesheet" href="/CSS/inicioDeSesion.css">
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
</head>
<body>

    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
        </div>
    </nav>

    <main>
        <div>
        <form action="/autenticar" method="post">
            <h2>¡Hola! Ingresa tu e‑mail y clave</h2>
            <label for="">E-mail</label>
            <input type="text" name="email">
            <label for="">Clave</label>
            <input type="password" name="clave">
            <a href="/registro">Crear cuenta</a>
            <button type="submit" value="login">Continuar</button>
        </form>
        </div>
    </main>



    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a class="login-footer__mercadolibre-privacy-link" href="https://www.mercadolibre.com.ve/privacidad" target="_blank" rel="noopener noreferrer">Cómo cuidamos tu privacidad</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>
</body>
</html>