<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elige que publicar</title>
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
    <link rel="stylesheet" href="/CSS/vender.css">
</head>
<body>
    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
        </div>
    </nav>

    <div class="amarillo">
        <h1>¡Hola! Antes que nada cuéntanos, <br> ¿qué vas a publicar?</h1>
    </div>
    
    <main>
        <div class="tarjeta">
            <a href="/publicarPaso1">
                <img src="/Imagenes/images.png" width="100" height="100" alt="">
            <h3>Productos</h3>
            </a>
        </div>
        <div class="tarjeta">
            <img src="/Imagenes/846296.png" width="100" height="100" alt="">
            <h3>Vehiculos</h3>
        </div>
        <div class="tarjeta">
            <img src="/Imagenes/916771.png" width="100" height="100" alt="">
            <h3>inmuebles</h3>
        </div>
        <div class="tarjeta">
            <img src="/Imagenes/paint-illustration-on-a-background-premium-quality-symbols-icons-for-concept-and-graphic-design-vector.jpg" width="100" height="100" alt="">
            <h3>servicios</h3>
        </div>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>